# Porkbun DNS-01 API
# This is required for us to perform a DNS-01 challenge and enable HTTPS once successful.
PORKBUN_API_KEY=
PORKBUN_SECRET_API_KEY=

# Default URL
HOST_URL=

# getHomepage
GETHOMEPAGE_URL=
GETHOMEPAGE_IP=
GETHOMEPAGE_TEST_URL=
GETHOMEPAGE_TEST_IP=

# Home Asssistant
HOME_ASSISTANT_URL=
HOME_ASSISTANT_IP=
HOME_ASSISTANT_TEST_URL=
HOME_ASSISTANT_TEST_IP=

# AdGuard Home
ADGUARD_1_URL=
ADGUARD_1_IP=
ADGUARD_2_URL=
ADGUARD_2_IP=
ADGUARD_3_URL=
ADGUARD_3_IP=

# TP-Link Omada Software Controller
OMADA_SDN_URL=
OMADA_SDN_IP=

# Servers
PVE1_URL=
PVE1_IP=
PVE2_URL=
PVE2_IP=
PVE3_URL=
PVE3_IP=

# YTDL
METUBE_URL=
METUBE_IP=

# Gitea
GITEA_URL=
GITEA_IP=

# Navidrome
NAVIDROME_1_URL=
NAVIDROME_1_IP=
NAVIDROME_2_URL=
NAVIDROME_2_IP=
NAVIDROME_3_URL=
NAVIDROME_3_IP=

# ErsatzTV - IPTV
ERSATZ_TV_URL=
ERSATZ_TV_IP=

# Security & IoT
AGENTDVR_IP=
