# Default URL
HOST_URL={{ host_url }}

# getHomepage
GETHOMEPAGE_URL={{ homepage_url }}
GETHOMEPAGE_IP={{ homepage_ip }}
GETHOMEPAGE_TEST_URL={{ homepage_test_url }}
GETHOMEPAGE_TEST_IP={{ homepage_test_ip }}

# Home Asssistant
HOME_ASSISTANT_URL={{ homeassistant_url }}
HOME_ASSISTANT_IP={{ homeassistant_ip }}
HOME_ASSISTANT_TEST_URL={{ homeassistant_test_url }}
HOME_ASSISTANT_TEST_IP={{ homeassistant_test_ip }}

# AdGuard Home
ADGUARD_1_URL={{ adguard_1_url }}
ADGUARD_1_IP={{ adguard_1_ip }}
ADGUARD_2_URL={{ adguard_2_url }}
ADGUARD_2_IP={{ adguard_2_ip }}
ADGUARD_3_URL={{ adguard_3_url }}
ADGUARD_3_IP={{ adguard_3_ip }}

# TP-Link Omada Software Controller
OMADA_SDN_URL={{ omada_sdn_url }}
OMADA_SDN_IP={{ omada_sdn_ip }}

# Servers
PVE1_URL={{ pve1_url }}
PVE1_IP={{ pve1_ip }}
PVE2_URL={{ pve2_url }}
PVE2_IP={{ pve2_ip }}
PVE3_URL={{ pve3_url }}
PVE3_IP={{ pve3_ip }}

# YTDL
METUBE_URL={{ ytdl_url }}
METUBE_IP={{ ytdl_ip }}

# Gitea
GITEA_URL={{ gitea_url }}
GITEA_IP={{ gitea_ip }}

# Navidrome
NAVIDROME_1_URL={{ navidrome1_url }}
NAVIDROME_1_IP={{ navidrome1_ip }}
NAVIDROME_2_URL={{ navidrome2_url }}
NAVIDROME_2_IP={{ navidrome2_ip }}
NAVIDROME_3_URL={{ navidrome3_url }}
NAVIDROME_3_IP={{ navidrome3_ip }}

# ErsatzTV - IPTV
ERSATZ_TV_URL={{ iptv_url }}
ERSATZ_TV_IP={{ iptv_ip }}

# Security & IoT
AGENTDVR_IP={{ agentdvr_ip }}
